    <div class="input">
        <label class="label" for="name">UserName</label><br>
        <input class="input1" type="text" [(ngModel)]="name"><br>
        <label class="label" for="email">Email</label><br>
        <input class="input1" type="text" [(ngModel)]="email">
        <div>
            <button class="btn" (click)="adduser()">ADDUSER</button>
        </div>
    </div>
<div>
    <button *ngIf="isUpdate" (click)="updateUser(userId)">update User</button>
    <button *ngIf="!isUpdate" (click)="adduser()">Add User</button>
</div>
