<style>
    .p{
        background: #F29F05;    
        max-width:100% ;
        height: 80px;
        margin-top: 0%  ;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .btn{
        color: black;
        width: 80px;
        height: 30px;
        display: flex;
        border-radius: 10px;
    }
</style>

<div>

    <p class="p">
        <button class="btn" (click)="mybtn($event)"></button>
        <button class="btn"></button>
        <button class="btn"></button>
            <!-- <button class="btn"></button>
            <button class="btn"></button>
            <button class="btn"></button> -->
            <span>
                {{s}}
            </span>
            </p>
            <div>
                <input type="text" (keyup)="data($event)" [(ngModel)] = "twoWayBinding" > 

                <p>{{twoWayBinding}}</p>
            
               <button [disabled] = "isEnable" (click)="enable()">clear</button>
            </div>
   
</div>
