<div class="container">
    <div class="back">
        <div class="baneercon">
            <p class="bacont">“A New way to manage farm for better productivity and profitability” </p>
            <p class="bacont1">We obsess over technology and it’s use for farming. Farming data is key in farm
                managament and we customized it according to needs. Our success lies in delighting our customers.</p>
            <button class="btn">Try for Free</button>
            <button class="btn1">Download App</button>
        </div>
        <div class="banimg">
            <img src="/src/assets/Group 626037.png">
        </div>

    </div>
</div>