.menu {
    width: 20%;
    background-color: rgb(255, 255, 255);
    height: 680px;
    border: 2px solid #4000ff;
}

.btn {
    gap: 30px;
    width: 80%;
    height: 30px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    // margin-l: 50px;
    cursor: pointer;
    display: flex;
    margin-top: 30px;
    margin-left: 20px;

    .btn:hover {
        background-color: black;
        color: white;
    }
}