<!-- <div class="user">
    <div class="profile-pic">
        <img [src]="user.avatar" alt="">
    </div>
    <div class="user-details">
        <p class="user-name"> {{user.first_name}} {{user.last_name}} &nbsp;</p>
        <p class="user-email email">{{user.email}}</p>
    </div>
    <div class="cta">
        <button class="remove-user" (click)="removeUser()">REMOVE USER</button>
    </div>
</div> -->
<div class="user">
    <div class="profile-pic">
        <img [src]="user.avatar" alt="">
    </div>
    <div class="user-details">
        <h3 class="user-name"> {{user.first_name}} {{user.last_name}} &nbsp;</h3>
        <h1 class="user-email email">{{user.email}}</h1>
    </div>
    <div class="cta">
        <button class="remove-user" (click)="removeUser()">REMOVE USER</button>
        <!-- <span class="remove-user" (click)="removeUser()">Remove User</span> -->
    </div>
  </div>
  